name: Code Quality

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  Prettier:
    name: Prettier
    strategy:
      matrix:
        os: ['ubuntu-latest']
        node: ['14.x']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.1.3
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Run Prettier
        run: npm run prettier

  ESLint:
    name: ESLint
    strategy:
      matrix:
        os: ['ubuntu-latest']
        node: ['14.x']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.1.3
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

  TSC:
    name: TSC Typecheck
    strategy:
      matrix:
        os: ['ubuntu-latest']
        node: ['14.x']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.1.3
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Run TSC Typechecking
        run: npm run typecheck
