name: Testing

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  Test:
    name: Tests
    strategy:
      matrix:
        os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
        node: ['13.9', '13.10', '13.11', '14.x']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1.4.1
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Link @K-FOSS/TS-ESNode
        run: ln -s $PWD ./node_modules/@k-foss/ts-esnode

      - name: Run Tests
        run: npm run test
