name: Testing

on: [push, pull_request]

jobs:
  Test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: k-foss/npm-run-action@master
        with:
          scriptName: 'test'
